@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "roboto condensed", sans-serif;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px; 
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.logo span{
    color: red;
}

.navbar a{
    position: relative;
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.icons{
    font-size: 2.8rem;
    color: white;
    cursor: pointer;
    display: none;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.navbar a:hover,
.navbar a.active{
    color: red;
    border-bottom: 3px solid red;
}

section{
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}

.home{
    min-height: 100vh;
    background: url('image/call.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

